.main-background {
	font-family: 'Karla', sans-serif;
	width: 800px;
	margin: 0 auto;
	height: 800px;
	background: url("../../assets/intro-page\ \(1\).png") no-repeat center top;
	background-size: 800px 800px;
}